<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

{% include head.html %}

<body id="page--category" class={{ page.entity }}>

  <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

  {% include banner.html %}

  <div id="site-canvas" class="page-content-dynamic" data-type="{{ page.visualization }}" data-id="{{ page.entity }}">

    <section class="page-introduction">

      <div class="row contain spaced-row">

        <div class="page-title-overtext">Category</div>

        <h1 class="page--title">{{ page.display }}</h1>

        <p>{{ page.introduction }}</p>

        <div class="action-links">
          <a href="#category--indicators">
            <span>Go to Indicators</span>
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          </a>
        </div>

      </div>
    </section>

    <section class="category-graph highlihted-bg">

      <div class="row spaced-row contain">

        <div id="category--overview_chart" class="category-chart"></div>

        <div class="graph-legend">

          <div class="graph-legend-values">
            <div class="graph-legend-values-item">
              <div class="graph-legend-values-value service-rank">
                <i class="fa fa-circle"></i> Rank
              </div>
            </div>
          </div>

          <div class="graph-legend-interaction">
            <div class="graph-legend-interaction-item">
              <a href="{{ site.baseurl }}/download/"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </div>
            <div class="graph-legend-interaction-item">
              <div class="dropdown--trigger_mobile" data-dropdown="dropdown-share">
                <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                <ul class="dropdown--share" id="dropdown-share">
                  <li class="dropdown--item">
                    <textarea id="linkToCopy" readonly></textarea>
                    <button id="CopyToClipboard">Copy</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="category--indicators" class="row spaced-row contain category-indicators">
      <h2 class="page--subtitle">{{ page.display }}</h2>
    </section>

  </div>

  {% include footer.html %}

  <!-- Go to top HTML -->
  <a href="#0" class="go-to-top">Top</a>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Go to top JS -->
  <script type="text/javascript">
    jQuery(document).ready(function($){
      // browser window scroll (in pixels) after which the "back to top" link is shown
      var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
        offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
        scroll_top_duration = 700,
        //grab the "back to top" link
        $back_to_top = $('.go-to-top');
      //hide or show the "back to top" link
      $(window).scroll(function(){
        ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('is-visible') : $back_to_top.removeClass('is-visible fade-out');
        if( $(this).scrollTop() > offset_opacity ) { 
          $back_to_top.addClass('fade-out');
        }
      });
      //smooth scroll to top
      $back_to_top.on('click', function(event){
        event.preventDefault();
        $('body,html').animate({
          scrollTop: 0 ,
          }, scroll_top_duration
        );
      });
    });      
  </script>  

  <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

</body>

</html>