<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body id="page--companies" class="highlihted-bg">

    <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

    {% include banner.html %}

    <div class="page--intro">
      <div class="row contain">
        <p>{{ page.intro }}</p>
      </div>
    </div>

    <div id="site-canvas" data-type="{{ page.visualization }}" data-id="{{ page.entity }}">
      
      <div class="row contain page--companies--content--row">

        <div class="page--companies--content--column">
          <h2 class="category--title">Internet and mobile companies</h2>
          <div id="category--internet" class="category--graph internet-and-mobile-companies"></div>
        </div>

        <div class="page--companies--content--column">
          <h2 class="category--title">Telecommunications companies</h2>
          <div id="category--telco" class="category--graph telecommunications-companies"></div>
        </div>

      </div>

    </div>

    {% include footer.html %}

    <!-- Go to top HTML -->
    <a href="#0" class="go-to-top">Top</a>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Go to top JS -->
    <script type="text/javascript">
      jQuery(document).ready(function($){
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
          //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
          offset_opacity = 1200,
          //duration of the top scrolling animation (in ms)
          scroll_top_duration = 700,
          //grab the "back to top" link
          $back_to_top = $('.go-to-top');
        //hide or show the "back to top" link
        $(window).scroll(function(){
          ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('is-visible') : $back_to_top.removeClass('is-visible fade-out');
          if( $(this).scrollTop() > offset_opacity ) { 
            $back_to_top.addClass('fade-out');
          }
        });
        //smooth scroll to top
        $back_to_top.on('click', function(event){
          event.preventDefault();
          $('body,html').animate({
            scrollTop: 0 ,
            }, scroll_top_duration
          );
        });
      });      
    </script>
    
    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

  </body>

</html>