<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body id="page--index">

    <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

    {% include banner.html %}

    <div class="page--intro non-highlihted-bg">
      <div class="row contain">
        <p>{{ page.intro }}</p>
      </div>
    </div>
    
    <div id="site-canvas" class="non-highlihted-bg" data-type="{{ page.visualization }}" data-id="{{ page.entity }}">
      <div class="row-contained contain displaytext md">
        <h1 class="page--title">
          {{ page.header }}
        </h1>
        <div class="page--content">
          [content]
        </div>
      </div>
    </div>

    <section class="key-findings highlihted-bg">
      <div class="contain spaced-row row row--1">
         <h2 class="page--subtitle">Key findings</h2>
         <div class="description--texts">
            <div class="description--text">
               <p>- companies across the board have poor disclosure around network shutdowns. lorum ipsum. lorum ipsum.</p>
               <p>transparency reporting is an area where companies are performing well, and continue to improve. lorum ipsum. lorum ipsu</p>
               <p>overall, all companies failed</p>
            </div>
            <div class="description--text">
               <p>The 2017 Index ranks 22 companies on <a href="#">35 indicators across three categories</a>. The indicators measure if and how well companies disclose policies affecting users’ freedom of expression and privacy. The Index evaluates policies of the parent company, operating company and those of selected services (depending on company structure. Read more about <a href="#">the methodology</a>, research process and how we <a href="#">score</a> each company.</p>
            </div>
         </div>   
         <ul class="action--links">
            <li>
               <a href="#">
                  <span>Go to Key Findings</span>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
               </a>   
            </li>
            <li>
               <a href="#">
                  <span>Read our Recommendations</span>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
               </a>   
            </li>
            <li>
               <a href="#">
                  <span>Download The Full Report</span>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
               </a>   
            </li>
         </ul>         
      </div>
    </section>





   <!-- Company ranking -->
   <section class="company-ranking non-highlihted-bg">
      <div class="contain spaced-row row row--2">
         <h2 class="page--subtitle">2017 Company ranking</h2>
         <div class="page--subtitle--undertext">How do the companies compare?</div>
         <div id="category--internet--home"></div>
         <div id="category--telco--home"></div>
      </div>  
   </section>


   <!-- Services ranking -->
   <section class="services-ranking highlihted-bg-colored">
      <div class="contain spaced-row row">

         <h2 class="page--subtitle">How did the Services Rank?</h2>
         <div class="page--subtitle--undertext">to rank the comanies we evaluated select services within each one. Here they are reshuffled so you can see them ranked within each service type.</div>




<!--
         <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Tab One</li>
            <li class="tab-link" data-tab="tab-2">Tab Two</li>
            <li class="tab-link" data-tab="tab-3">Tab Three</li>
            <li class="tab-link" data-tab="tab-4">Tab Four</li>
         </ul>

         <div id="tab-1" class="tab-content current">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </div>
         <div id="tab-2" class="tab-content">
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </div>
         <div id="tab-3" class="tab-content">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         </div>
         <div id="tab-4" class="tab-content">
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </div>

-->



         <div class="tabbed-graphs">
            <ul class="nav-tabs">
              <li class="active"><a href="#a" data-toggle="tab">Cloud services</a></li>
              <li><a href="#b" data-toggle="tab">Email service</a></li>
              <li><a href="#c" data-toggle="tab">Fixed broadband</a></li>
              <li><a href="#d" data-toggle="tab">Messaging & VOIP</a></li>
              <li><a href="#e" data-toggle="tab">Mobile ecosystems</a></li>
              <li><a href="#f" data-toggle="tab">Pre and Post-paid mobile</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="a">
                 <img src="http://placehold.it/250x150/E8117F">
              </div>
              <div class="tab-pane" id="b">
                 <img src="http://placehold.it/250x150">
              </div>
              <div class="tab-pane" id="c">
                 <img src="http://placehold.it/250x150">
              </div>
              <div class="tab-pane" id="d">
                 <img src="http://placehold.it/250x150">
              </div>
              <div class="tab-pane" id="e">
                 <img src="http://placehold.it/250x150">
              </div>
              <div class="tab-pane" id="f">
                 <img src="http://placehold.it/250x150">
              </div>
            </div>
         </div>

      </div>
    </section>



   <!-- data stories --> 
   <section class="data-stories non-highlihted-bg">
      <div class="contain spaced-row row">
        <h2 class="page--subtitle">Data Stories</h2>
        <div class="page--subtitle--undertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla pellentesque augue nec mattis. Donec interdum porta diam, quis hendrerit urna molestie nec. Integer vehicula ac sem in gravida. Praesent ornare neque eu sapien luctus, nec volutpat tellus pellentesque.</div>
        <div class="data-stories-items">
        <div class="data-stories-item">
          <img src="http://placehold.it/250x150">
          <h3>Mobile Ecosystems</h3>
          <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
        </div>
        <div class="data-stories-item">
          <img src="http://placehold.it/250x150">
          <h3>Network Shutdowns</h3>
          <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
        </div>
        <div class="data-stories-item">
          <img src="http://placehold.it/250x150">
          <h3>Data Breaches</h3>
          <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
        </div>
        <div class="data-stories-item">
          <img src="http://placehold.it/250x150">
          <h3>Jurisdictional Performance</h3>
          <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
        </div>
        </div>                         
      </div>
   </section>    

   {% include footer.html %}

   <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>








   <script type="text/javascript">
      
      $(document).ready(function(){
         
         $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
         })

      })

   </script>












  </body>

</html>