<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

   <body id="page--index">

      <!--[if lt IE 10]>
         <div id="nocando">
           <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         </div>
      <![endif]-->

      <!-- Header --> 
      {% include banner.html %}

      <!-- Page itro --> 
      <div class="page--intro non-highlihted-bg">
         <div class="row contain">
           <p>{{ page.intro }}</p>
         </div>
      </div>
    
      <div id="site-canvas" class="non-highlihted-bg" data-type="{{ page.visualization }}" data-id="{{ page.entity }}"></div>

      <!-- World map --> 
      <section class="world-map non-highlihted-bg">

         <div class="contain spaced-row row">

            <img class="img-responsive" src="assets/graphics/content/map-07.svg">

            <div class="graph-legend">
              <div class="graph-legend-content">
                  <div class="graph-legend-content-item">
                     <div class="graph-legend-content-item-value">14</div>
                     <div class="graph-legend-content-item-label">countries</div>                                       
                  </div>
                  <div class="graph-legend-content-item">
                     <div class="graph-legend-content-item-value">22</div>
                     <div class="graph-legend-content-item-label">companies</div>                                       
                  </div>
                  <div class="graph-legend-content-item">
                     <div class="graph-legend-content-item-value">62</div>
                     <div class="graph-legend-content-item-label">services</div>                                       
                  </div>
                  <div class="graph-legend-content-item">
                     <div class="graph-legend-content-item-value">35</div>
                     <div class="graph-legend-content-item-label">indicators</div>                                       
                  </div>
                  <div class="graph-legend-content-item">
                     <div class="graph-legend-content-item-value">+1</div>
                     <div class="graph-legend-content-item-label">billion users</div>
                  </div>                                                                        
              </div>
              <div class="graph-legend-values">
                  <div class="graph-legend-values-item">
                     <div class="graph-legend-values-label">Industry</div>
                     <div class="graph-legend-values-value internet-and-mobile-companies">
                        <i class="fa fa-circle"></i> Internet and Mobile
                     </div>
                     <div class="graph-legend-values-value telecommunications-companies">
                        <i class="fa fa-circle"></i> Telecomunications
                     </div>                                           
                  </div>
                  <div class="graph-legend-values-item">
                     <div class="graph-legend-values-label">Company HQ</div>
                     <div class="graph-legend-values-value">
                        <span class="graph-legend-values-value-bar"></span>
                     </div>
                  </div>                                     
              </div>
              <div class="graph-legend-interaction">
                  <div class="graph-legend-interaction-item">
                     <a href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                  </div>
                  <div class="graph-legend-interaction-item">
                     <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                  </div>                      
              </div>
            </div>

         </div>

      </section>

      <!-- Key findings --> 
      <section class="key-findings highlihted-bg">
         <div class="contain spaced-row row row--1">
            <h2 class="page--subtitle">Key findings</h2>
            <div class="description--texts">
               <div class="description--text">
                  <p>- companies across the board have poor disclosure around network shutdowns. lorum ipsum. lorum ipsum.</p>
                  <p>- transparency reporting is an area where companies are performing well, and continue to improve. lorum ipsum. lorum ipsu</p>
                  <p>- overall, all companies failed</p>
               </div>
               <div class="description--text">
                  <p>The 2017 Index ranks 22 companies on <a href="#">35 indicators across three categories</a>. The indicators measure if and how well companies disclose policies affecting users’ freedom of expression and privacy. The Index evaluates policies of the parent company, operating company and those of selected services (depending on company structure. Read more about <a href="#">the methodology</a>, research process and how we <a href="#">score</a> each company.</p>
               </div>
            </div>   
            <div class="action-links">
              <a href="#">
                <span>Go to Key Findings</span>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>   
              <a href="#">
                <span>Read our Recommendations</span>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>   
              <a href="#">
                <span>Download The Full Report</span>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>   
            </div>         
         </div>
      </section>


      <!-- Company ranking -->
      <section class="company-ranking non-highlihted-bg">
         <div class="contain spaced-row row row--2">
            <h2 class="page--subtitle">2017 Company ranking</h2>
            <div class="page--subtitle--undertext">How do the companies compare?</div>
            <div id="category--internet--home"></div>
            <div id="category--telco--home"></div>
         </div>  
      </section>


      <!-- Services ranking -->
      <section class="services-ranking highlihted-bg-colored">
         <div class="contain spaced-row row">

            <h2 class="page--subtitle">How did the services compare?</h2>
            <div class="page--subtitle--undertext">The Index evaluates select services offered by each company. Here’s how they stack up. Go how each service performance, go to the services page.</div>

         <div class="tabbed-graphs">
            <ul class="nav-tabs">
               <li class="tab-link" data-tab="tab-1">Cloud services</li>
               <li class="tab-link" data-tab="tab-2">Email service</li>
               <li class="tab-link" data-tab="tab-3">Fixed broadband</li>
               <li class="tab-link" data-tab="tab-4">Messaging & VOIP</li>
               <li class="tab-link current" data-tab="tab-5">Mobile ecosystems</li>
               <li class="tab-link" data-tab="tab-6">Pre and Post-paid mobile</li>
               <li class="tab-link" data-tab="tab-7">Search</li>
               <li class="tab-link" data-tab="tab-8">Social Network & Blog</li>
               <li class="tab-link" data-tab="tab-9">Video/Photo</li>            
            </ul>
            <div class="tab-content">
               <div id="tab-1" class="tab-pane-wrapper current">
                  <div class="tab-pane">
                    <div id="circle--chart--1" class="service--circle--chart"></div>
                    <div id="circle--chart--2" class="service--circle--chart"></div>
                    <div id="circle--chart--3" class="service--circle--chart"></div>
                  </div>
               </div>
               <div id="tab-2" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--4" class="service--circle--chart"></div>
                    <div id="circle--chart--5" class="service--circle--chart"></div>
                    <div id="circle--chart--6" class="service--circle--chart"></div>
                    <div id="circle--chart--7" class="service--circle--chart"></div>
                    <div id="circle--chart--8" class="service--circle--chart"></div>
                    <div id="circle--chart--9" class="service--circle--chart"></div>
                  </div>
               </div>
               <div id="tab-3" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--10" class="service--circle--chart"></div>
                    <div id="circle--chart--11" class="service--circle--chart"></div>
                    <div id="circle--chart--12" class="service--circle--chart"></div>
                    <div id="circle--chart--13" class="service--circle--chart"></div>
                    <div id="circle--chart--14" class="service--circle--chart"></div>
                    <div id="circle--chart--15" class="service--circle--chart"></div>
                    <div id="circle--chart--16" class="service--circle--chart"></div>
                  </div>
               </div>
               <div id="tab-4" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--17" class="service--circle--chart"></div>
                    <div id="circle--chart--18" class="service--circle--chart"></div>
                    <div id="circle--chart--19" class="service--circle--chart"></div>
                    <div id="circle--chart--20" class="service--circle--chart"></div>
                    <div id="circle--chart--21" class="service--circle--chart"></div>
                    <div id="circle--chart--22" class="service--circle--chart"></div>
                    <div id="circle--chart--23" class="service--circle--chart"></div>
                    <div id="circle--chart--24" class="service--circle--chart"></div>
                  </div>
               </div> 
               <div id="tab-5" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--25" class="service--circle--chart"></div>
                    <div id="circle--chart--26" class="service--circle--chart"></div>
                    <div id="circle--chart--27" class="service--circle--chart"></div>
                  </div>
               </div>
               <div id="tab-6" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--28" class="service--circle--chart"></div>
                    <div id="circle--chart--29" class="service--circle--chart"></div>
                    <div id="circle--chart--30" class="service--circle--chart"></div>
                    <div id="circle--chart--31" class="service--circle--chart"></div>
                    <div id="circle--chart--32" class="service--circle--chart"></div>
                    <div id="circle--chart--33" class="service--circle--chart"></div>
                    <div id="circle--chart--34" class="service--circle--chart"></div>
                    <div id="circle--chart--35" class="service--circle--chart"></div>
                    <div id="circle--chart--36" class="service--circle--chart"></div>
                    <div id="circle--chart--37" class="service--circle--chart"></div>
                  </div>
               </div>
               <div id="tab-7" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--38" class="service--circle--chart"></div>
                    <div id="circle--chart--39" class="service--circle--chart"></div>
                    <div id="circle--chart--40" class="service--circle--chart"></div>
                    <div id="circle--chart--41" class="service--circle--chart"></div>
                    <div id="circle--chart--42" class="service--circle--chart"></div>
                  </div>
               </div>
               <div id="tab-8" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--43" class="service--circle--chart"></div>
                    <div id="circle--chart--44" class="service--circle--chart"></div>
                    <div id="circle--chart--45" class="service--circle--chart"></div>
                    <div id="circle--chart--46" class="service--circle--chart"></div>
                    <div id="circle--chart--47" class="service--circle--chart"></div>
                    <div id="circle--chart--48" class="service--circle--chart"></div>
                  </div>
               </div> 
               <div id="tab-9" class="tab-pane-wrapper">
                  <div class="tab-pane">
                    <div id="circle--chart--49" class="service--circle--chart"></div>
                    <div id="circle--chart--50" class="service--circle--chart"></div>
                    <div id="circle--chart--51" class="service--circle--chart"></div>
                    <div id="circle--chart--52" class="service--circle--chart"></div>
                    <div id="circle--chart--53" class="service--circle--chart"></div>
                  </div>
               </div>                                    
            </div>
         </div>
      </section>      


      <!-- Data stories --> 
      <section class="data-stories non-highlihted-bg">
         <div class="contain spaced-row row">
           <h2 class="page--subtitle">Data Stories</h2>
           <div class="page--subtitle--undertext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla pellentesque augue nec mattis. Donec interdum porta diam, quis hendrerit urna molestie nec. Integer vehicula ac sem in gravida. Praesent ornare neque eu sapien luctus, nec volutpat tellus pellentesque.</div>
           <div class="data-stories-items">
           <div class="data-stories-item">
             <img src="http://placehold.it/250x150?text=Image+1">
             <h3>Mobile Ecosystems</h3>
             <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
           </div>
           <div class="data-stories-item">
             <img src="http://placehold.it/250x150?text=Image+2">
             <h3>Network Shutdowns</h3>
             <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
           </div>
           <div class="data-stories-item">
             <img src="http://placehold.it/250x150?text=Image+3">
             <h3>Data Breaches</h3>
             <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
           </div>
           <div class="data-stories-item">
             <img src="http://placehold.it/250x150?text=Image+4">
             <h3>Jurisdictional Performance</h3>
             <p>Pellentesque pulvinar erat et neque pretium mattis. Praesent a vehicula quam, ac suscipit lorem. Vivamus porttitor elit et lorem pellentesque, in volutpat ligula venenatis. In laoreet pretium ante, vel sagittis nibh dignissim nec. </p>
           </div>
           </div>                         
         </div>
      </section>    


      <!-- Footer --> 
      {% include footer.html %}


      <!-- JS -->
      <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

      <!-- jQuery --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

      <!-- Tabs JS -->
      <script type="text/javascript">
      
         // Equal heghts
         var tabsFn = (function() {        
           function init() {
             setHeight();
           }        
           function setHeight() {
             var $tabPane = $('.tab-pane-wrapper'),
                 tabsHeight = $('.nav-tabs').height();
             $tabPane.css({
               height: tabsHeight
             });
           }
           $(init);
         })();

         // Current tab
         $(document).ready(function(){
            $('ul.nav-tabs li').click(function(){
               var tab_id = $(this).attr('data-tab');
               $('ul.nav-tabs li').removeClass('current');
               $('.tab-pane-wrapper').removeClass('current');
               $(this).addClass('current');
               $("#"+tab_id).addClass('current');
            })
         })

      </script>

   </body>

</html>