.secondary-navigation {
background-color: $dark-grey;
padding: 16px 0 14px 0;
	.medium-up {
	float: right;
		.nav {
		margin-left: 0;
		text-align: right;
			.nav--item {
				a {
				padding: 16px 0 14px 0;	
				font-family: $simplon-light;
				font-weight: 600;
				color: $black-lighter;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 1px;
					&:hover {
					color: $black-pure;	
					}
				}
			}
		}
	}
}