#page--companies {

  .page--companies--content--row {

    .page--companies--content--column {

      @include media(medium-up) {
        @include span-columns(6);
      }

      .category--title {
      margin-bottom: 1em;  
      }

      .category--graph {

        .vis--row {

          .vis--row_title {
          text-align: right;
          /*width: 25% !important;*/  
            a {
            font-family: $simplon-bold;
            color: $black;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;  
            }
          }

          .vis--category_score {
          /*width: 15% !important;*/   
            .vis--category_score_value {
            width: 1.7em;
            height: 1.7em;
            display: inline-block;          
            @include gz-border-radius (50%);
            margin-right: 10px;
            margin-left: 20px;
              span {
              font-family: $simplon-bold;
              color: $white-pure;
              font-size: 13px;
              line-height: 2.2; 
              }                           
            } 
          }

          .vis--row_bars {
          /*width: 60%;*/
          }

          .vis--row_bar {
            width: 100%;
          }        

        }

        &.internet-companies {
          .vis--category_score {
            .vis--category_score_value {
            background-color: $red;
            }   
          }
        }

        &.telecom-companies {
          .vis--category_score {
            .vis--category_score_value {
            background-color: $orange;  
            }  
          }        
        }        

      }


      
    }

  }

}