body#page--companies{

  .companies--intro {
    font-weight: 100;
    line-height: 1.25em;
    padding: 1.5em 0;
    color: $black;
    @include media(large-up) {
      font-size: 1.25em;
    }
    line-height: 140%;
  }

  .comp--wrapper {
    @include media(medium-up) {
      @include span-columns(6);
    }
    .category--title {
      text-transform: uppercase;
    }
    .vis--row_title {
      text-transform: uppercase;
      text-align: right;
      width: 25% !important;
    }
    .vis--row_bar {
      width: 100%
    }
  }

}