@font-face {
  font-family: 'Platform';
  src: url('../graphics/fonts/Platform-Medium.woff'),
       url('../graphics/fonts/Platform-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Simplon';
  src: url('../graphics/fonts/Simplon_BP_Medium_1.woff'),
       url('../graphics/fonts/Simplon_BP_Medium_1.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Simplon-bold';
  src: url('../graphics/fonts/Simplon_BP_Bold_2.woff'),
       url('../graphics/fonts/Simplon_BP_Bold_2.ttf');
  font-weight: normal;
  font-style: normal;
}
