.footer {
  background: $beige;
  padding-top: 1.25em;
  padding-bottom: 1em;
  margin-top: 2em;
}

.footer--links {
  @include media(medium-up) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer--link {
  padding: .5em;
  display: flex;
  align-items: center;
  @include media(medium-up) {
    display: inline-flex;
    margin-left: .75em;
    margin-right: .75em;
  }

  .collecticon {
    margin-right: .25em;
    color: $base-color;
  }
}

.commons {
  width: 100px;
  display: inline-block;
  > img {
    width: 100%;
  }
}
