/* World map */
.world-map {
padding-top: 0;
	.map-legend {
	margin-top: 1em;	
	display: flex;
	justify-content: space-around;
	align-items: center;
		.map-content,
		.map-legend-values,
		.map-interaction {
		display: flex;
	    justify-content: center;
	    align-items: flex-start;		
		padding: 1em 3em;	
		border-left: 1px solid $light-grey;
		}
		.map-content {
			.map-content-item {	
			text-align: center;				
				.map-content-item-value {
				font-family: $platform-bold;				
				color: $black;    											
				line-height: 1;
				font-size: 33px;
				letter-spacing: 2px;
				margin-bottom: 5px;
				}
				.map-content-item-label	{
				font-family: $simplon-light;	
				color: $black;    											
				line-height: 1;
				font-size: 14px;
				text-transform: uppercase;
				}
			}
			.map-content-item + .map-content-item {
			margin-left: 2.5em;	
			}
		}
		.map-legend-values {
			.map-legend-values-item {	
				.map-legend-values-label {
				font-family: $simplon-medium;	
				color: $black;    											
				line-height: 1;
				font-size: 14px;
				text-transform: uppercase;
				margin-bottom: 10px;
				}				
				.map-legend-values-value {					
				font-family: $simplon-light;				
				color: $black;    											
				line-height: 1;
				font-size: 11px;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-bottom: 5px;
					@include media(small-up) {
					font-size: 11px;
					}
					@include media(medium-up) {
					font-size: 12px;
					}
					@include media(large-up) {
					font-size: 13px;
					}
					@include media(xlarge-up) {
					font-size: 13px;
					} 				
					i {
					font-size: 10px;    											
					line-height: 1;
	    			text-align: center;
						@include media(small-up) {
						font-size: 11px;
						}
						@include media(medium-up) {
						font-size: 12px;
						}
						@include media(large-up) {
						font-size: 13px;
						}
						@include media(xlarge-up) {
						font-size: 14px;
						}    				
					}				
					&.internet-and-mobile-companies {
						i {
						color: $red;	
						}
					}
			        &.telecommunications-companies {
			        	i {
			        	color: $orange;  
			            }         
			        }
			        .map-legend-values-value-bar {
			        display: inline-block;	
			        width: 8em;
			        height: 1em;
			        background-color: $base-color;  	
			        }					
				}
			}
			.map-legend-values-item + .map-legend-values-item {
			margin-left: 2.5em;		
			}			
		}
		.map-interaction {
			.map-interaction-item {
			display: flex;	
			background-color: $black;	
				i {
				color: $white-pure;	
				font-size: 17px;    											
				line-height: 1;
				padding: 5px 7px;
    			text-align: center;
					@include media(small-up) {
					font-size: 18px;
					}
					@include media(medium-up) {
					font-size: 18px;
					}
					@include media(large-up) {
					font-size: 20px;
					}
					@include media(xlarge-up) {
					font-size: 23px;
					}    				
				}
			}
			.map-interaction-item + .map-interaction-item {
			margin-left: 1em;		
			}	
		}	
	}	
}


/* Key findings */
.key-findings {
	.description--texts {
		.description--text {
			@include media(medium-up) {
			@include span-columns(6);
			}
		}
		.description--text + .description--text {
		margin-right: 0px;	
	    margin-top: 2em;
	      @include media(small-up) {
	      margin-top: 2em;  
	      }
	      @include media(medium-up) {
	      margin-top: 0em;  
	      }
	      @include media(large-up) {
	      margin-top: 0em;  
	      }  
		}
	}
	.action--links {
	clear: both;
	margin-top: 1.5em;
		li {	
			a {
			color: $black;	
				span {
				text-transform: uppercase;
				font-family: $simplon-medium;
				}
				i {
				color: $black;
				margin-left: 5px;
				}
			}
		}	
	}
}





/* Tabbed graphs */

.tabbed-graphs { 
margin-top: 2em;
display: flex;
justify-content: flex-start;
align-items: center;

	.nav-tabs {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 0px;
	padding: 0px;
	list-style: none;	
		li {
		position: relative;	
		float: none;
		margin: 0;
		padding: 10px 15px;		
		color: $white-pure;
		cursor: pointer;
		font-family: $simplon-medium;
		text-transform: uppercase;
		font-size: 12px;
			@include media(small-up) {
			font-size: 13px;  
			}
			@include media(medium-up) {
			font-size: 14px;  
			}
			@include media(large-up) {
			font-size: 15px;
			} 
			@include media(xlarge-up) {
			font-size: 15px;  
			} 		
			&.current {
			border: 1px solid $white-pure;
			border-right: none;
				&:after, &:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				}				
				&:after {
				border-color: rgba(77, 158, 207, 0);
				border-left-color: #4D9ECF;
				border-width: 9px;
				margin-top: -9px;
				}
				&:before {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: #fff;
				border-width: 10px;
				margin-top: -10px;
				}			
			}
		}

	}

	.tab-content {
	display: flex;
	justify-content: center;
	width: 80%;
	border: 1px solid $white-pure;
		.tab-pane-wrapper {
		display: none;	
			.tab-pane {
			padding: 15px;
			display: flex;
		    justify-content: center;
		    align-items: center;
			}
			&.current {
			display: flex;
			}
		}
	}

}






/* Data stories items */
.data-stories-items {
clear: both;
margin-top: 0em;
margin-bottom: .325em;	
	.data-stories-item {
		@include media(medium-up) {
		@include span-columns(3);
		}
		h3 {
		margin-top: .8em;
    	margin-bottom: 1em;
			@include media(small-up) {

			}
			@include media(medium-up) {

			}
			@include media(large-up) {

			}
			@include media(xlarge-up) {

			}     		
		}	
	}
}	