.secondary-navigation {
background-color: $dark-grey;
padding: 16px 0 14px 0;
	.medium-up {
	float: right;
		.nav {
		margin-left: 0;
		text-align: right;
			.nav--item {
			font-weight: 400;	
			text-transform: uppercase;
				a {
				color: $black-lighter;
				letter-spacing: -1px;
					&:hover {
					color: $black-pure;	
					}
				}
			}
		}
	}
}