/* FONTS */

/* Platform - H1 font */
$platform-hairline: 'Platform-Hairline', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$platform-light: 'Platform-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$platform-medium: 'Platform-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$platform-regular: 'Platform-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$platform-bold: 'Platform-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Simplon - Body font */
$simplon-light: 'Simplon-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$simplon-medium: 'Simplon-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$simplon-regular: 'Simplon-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$simplon-bold: 'Simplon-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* COLORS */

// GRAYSCALES

$black-pure: #000;
$black: #313131;
$black-lighter: #515151;

$dark: lighten($black, 15%);
$gray: lighten($black, 50%);
$light: lighten($black, 70%);

$white: #F7F7F7;

$white-pure: #FFF;

// Grey
$light-grey: #D4D2C9;

// Dark grey
$dark-grey: #E5DCD2; 

$dropdown-bg: #F5F5F5;

$beige: #E5DCD2;






// Light blue
$base-color: #4D9ECF;

// Deep orange
$primary-color: #9B2523;

// Light red
$secondary-color: #FFD0BF;

// Light green
$tertiary-color: #C3D500;

// Green
$success-color: #77bc1f;




// ALERT COLORS
$red: #ed1b24;
$orange: #f8931f;


// CATEGORY COLORS

/* Blue Total */
$cat-total: #457CA4;
$cat-total-hover: #27465c;

/* Blue Governance */
$cat-commitment: #57A8D5;
$cat-commitment-hover: #28749e;

/* Green Freedom */
$cat-freedom: #21BCB3;
$cat-freedom-hover: #126560;

/* Green Privacy */
$cat-privacy: #238E88;
$cat-privacy: #0F3C3A;




/* LAYOUT */
// We use these to make sure border radius matches unless we want it different.
$global-radius: 0.5em;
$semi-radius: $global-radius/2;
$global-rounded: 60rem;

// We use this set site row's min and max width
$row-min-width: 768px;
$row-max-width: 1280px;

// Media query ranges
$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 991px);
$large-range: (992px, 1199px);
$xlarge-range: (1200px);

$screen: "only screen";

$prose-width: 860px;




// HORIZONTAL BAR CHART
$bar-height: 2em;
$title-width: 20%;
$score-width: 10%;
$bar-width: 100% - $title-width - $score-width;
$title-width-sm: 25%;
$score-width-sm: 15%;
$bar-width-sm: 100% - $title-width-sm - $score-width-sm;
