/* World map */
.world-map {
padding-top: 0;
}


/* Key findings */
.key-findings {
	.description--texts {
		.description--text {
			@include media(medium-up) {
			@include span-columns(6);
			}
		}
		.description--text + .description--text {
		margin-right: 0px;	
	    margin-top: 2em;
	      @include media(small-up) {
	      margin-top: 2em;  
	      }
	      @include media(medium-up) {
	      margin-top: 0em;  
	      }
	      @include media(large-up) {
	      margin-top: 0em;  
	      }  
		}
	}
}





/* Tabbed graphs */

.tabbed-graphs { 
margin-top: 2em;
display: flex;
justify-content: flex-start;
align-items: center;

	.nav-tabs {
	display: flex;
	flex-direction: column;
	width: 21%;
	margin: 0px;
	padding: 0px;
	list-style: none;	
		li {
		position: relative;	
		float: none;
		margin: 0;
		padding: 10px 15px;		
		color: $white-pure;
		cursor: pointer;
		font-family: $simplon-medium;
		text-transform: uppercase;
		font-size: 12px;
			@include media(small-up) {
			font-size: 13px;  
			}
			@include media(medium-up) {
			font-size: 14px;  
			}
			@include media(large-up) {
			font-size: 15px;
			} 
			@include media(xlarge-up) {
			font-size: 16px;  
			} 		
			&.current {
			border: 1px solid $white-pure;
			border-right: none;
				&:after, &:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				}				
				&:after {
				border-color: rgba(77, 158, 207, 0);
				border-left-color: #4D9ECF;
				border-width: 9px;
				margin-top: -9px;
				}
				&:before {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: #fff;
				border-width: 10px;
				margin-top: -10px;
				}			
			}
		}

	}

	.tab-content {
	display: flex;
	justify-content: center;
	width: 80%;
	border: 1px solid $white-pure;
		.tab-pane-wrapper {
		display: none;	
			.tab-pane {
			padding: 15px;
			display: flex;
		    justify-content: center;
		    align-items: center;
			}
			&.current {
			display: flex;
			}
		}
	}

}






/* Data stories items */
.data-stories-items {
clear: both;
margin-top: 0em;
margin-bottom: .325em;	
	.data-stories-item {
		@include media(medium-up) {
		@include span-columns(3);
		}
		h3 {
		margin-top: .8em;
    	margin-bottom: 1em;
			@include media(small-up) {

			}
			@include media(medium-up) {

			}
			@include media(large-up) {

			}
			@include media(xlarge-up) {

			}     		
		}	
	}
}	