/* World map */
.world-map {
padding-top: 0;
}


/* Key findings */
.key-findings {
	.description--texts {
		.description--text {
			@include media(medium-up) {
			@include span-columns(6);
			}
		}
		.description--text + .description--text {
		margin-right: 0px;	
	    margin-top: 2em;
	      @include media(small-up) {
	      margin-top: 2em;  
	      }
	      @include media(medium-up) {
	      margin-top: 0em;  
	      }
	      @include media(large-up) {
	      margin-top: 0em;  
	      }  
		}
	}
}

/* Company ranking */
.company-ranking {
	label {
	text-transform: uppercase;
		i {
		padding-right: 5px;	
		}	
	}
	#category--internet--home {
        i {
        color: $red;  
        }		
	}
	#category--telco--home {
	margin-top: 2.5em;	
        i {
        color: $orange;  
        }
	}


	/* Horizontal chart (index)*/

	.vis--row {
	width: 100%;
	display: inline-flex;
	align-items: center;
	padding-top: 0em;
	padding-bottom: 0;
	line-height: 1.4em;
	cursor: default;
	}

	.vis--row + .vis--row {
	padding-top: .3em;
	}

	.vis--header {
	border-bottom: none;
	font-size: .75em;
	margin-top: 1em;
	align-items: flex-end;  
	}

	#category--internet .vis--header {
	margin-top: 0;
	}

	.vis--header_item {
	font-family: $simplon-regular; 
	color: $black;
	font-size: 14px;
	line-height: 2; 
	letter-spacing: 1px;
	text-transform: uppercase;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
	  > a {
	  font-family: $simplon-regular;  
	  font-size: 14px;
	  color: $black;
	  line-height: 2; 
	  letter-spacing: 1px;    
	  text-decoration: none;
	  transition: color .2s ease-out;
	  display: block;
	  }

	  &.vis--row_title {
	  font-size: 14px;
	  font-weight: 500;
	  line-height: 2; 
	    > a { 
	    font-size: 14px;
	    font-weight: 500;
	    line-height: 2; 
	    }    
	  }  

	}


	.vis--row_title {
	font-family: $simplon-regular; 
	color: $black;
	font-size: 13px;
	line-height: 1.3;
	font-weight: 600; 
	letter-spacing: 1px;
	text-transform: uppercase;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;

	  > a {
	  font-family: $simplon-regular;  
	  font-size: 13px;
	  color: $black;
	  font-weight: 600;
	  line-height: 1.3; 
	  letter-spacing: 1px;    
	  text-decoration: none;
	  transition: color .2s ease-out;
	  display: block;
	  }

	}


	.vis--row_title {
	width: $index-title-width-xs;
	  @include media(small-up) {
	  width: $index-title-width-sm;  
	  }
	  @include media(medium-up) {
	  width: $index-title-width-md;
	  }
	  @include media(large-up) {
	  width: $index-title-width-lg;  
	  }
	  @include media(xlarge-up) {
	  width: $index-title-width-xlg; 
	  }  

	}

	.vis--header_score {
	text-align: center;  
	width: $index-score-width-xs;
	  @include media(small-up) {
	  width: $index-score-width-sm;    
	  }
	  @include media(medium-up) {
	  width: $index-score-width-md;
	  }
	  @include media(large-up) {
	  width: $index-score-width-lg;
	  }
	  @include media(xlarge-up) {
	  width: $index-score-width-xlg;
	  }   
	}

	.vis--row_bars {
	display: inline-flex;
	align-items: flex-end;
	justify-content: space-between;  
	width: $index-bar-width-xs;
	  @include media(small-up) {
	  width: $index-bar-width-sm;  
	  }
	  @include media(medium-up) {
	  width: $index-bar-width-md;  
	  }
	  @include media(large-up) {
	  width: $index-bar-width-lg;  
	  }
	  @include media(xlarge-up) {
	  width: $index-bar-width-xlg;  
	  }
	}

	.vis--row_bar {
	width: 100%;
	text-align: center;
	  @include media(medium-up) {
	    width: 22%;
	  }
	}

	.vis--category_score_value,
	.vis--category_score_value span{
	font-family: $simplon-regular; 
	color: $cat-total !important;
	font-size: 14px;
	line-height: 1.3;
	font-weight: 600; 
	letter-spacing: 1px;
	text-transform: uppercase;
	overflow: hidden;

	background: transparent;

	padding-top: .5em;
	padding-bottom: .5em;
	
	}

	.vis--horiz_bar_container {
	position: relative;
	height: $index-bar-height-xs;
	background: $beige;
	overflow: hidden;
	transition: background .2s ease-in;
	    @include media(small-up) {
	    height: $index-bar-height-sm;  
	    }
	    @include media(medium-up) {
	    height: $index-bar-height-md;
	    }
	    @include media(large-up) {
	    height: $index-bar-height-lg;      
	    }
	    @include media(large-up) {
	    height: $index-bar-height-xlg;      
	    }    
	}

	.vis--horiz_bar {
	position: absolute;
	left: 0;
	top: 0;
	height: $index-bar-height-xs;
	display: block;
	    @include media(small-up) {
	    height: $index-bar-height-sm;  
	    }
	    @include media(medium-up) {
	    height: $index-bar-height-md;
	    }
	    @include media(large-up) {
	    height: $index-bar-height-lg;      
	    }
	    @include media(large-up) {
	    height: $index-bar-height-xlg;      
	    }   
	}					

}


/* Tabbed graphs */

.tabbed-graphs { 
margin-top: 2em;
display: flex;
justify-content: flex-start;
align-items: center;

	.nav-tabs {
	display: flex;
	flex-direction: column;
	width: 21%;
	margin: 0px;
	padding: 0px;
	list-style: none;	
		li {
		position: relative;	
		float: none;
		margin: 0;
		padding: 10px 15px;		
		color: $white-pure;
		cursor: pointer;
		font-family: $simplon-medium;
		text-transform: uppercase;
		font-size: 12px;
			@include media(small-up) {
			font-size: 13px;  
			}
			@include media(medium-up) {
			font-size: 14px;  
			}
			@include media(large-up) {
			font-size: 15px;
			} 
			@include media(xlarge-up) {
			font-size: 16px;  
			} 		
			&.current {
			border: 1px solid $white-pure;
			border-right: none;
				&:after, &:before {
				left: 100%;
				top: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				}				
				&:after {
				border-color: rgba(77, 158, 207, 0);
				border-left-color: #4D9ECF;
				border-width: 9px;
				margin-top: -9px;
				}
				&:before {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: $white-pure;
				border-width: 10px;
				margin-top: -10px;
				}			
			}
		}

	}

	.tab-content {
	display: flex;
	justify-content: center;
	width: 79%;
	border: 1px solid $white-pure;
		.tab-pane-wrapper {
		display: none;	
			.tab-pane {
			display: flex;
    		flex-direction: column;				
			padding: 15px;
			display: flex;
		    justify-content: center;
		    align-items: center;
		    	.tab-pane-chart-row {
				display: flex;
	    		flex-direction: row;		    	
	    		}
	    		.tab-pane-chart-row + .tab-pane-chart-row {
	    		margin-top: 15px;	
	    		}
			}
			&.current {
			display: flex;
			}
		}
	}

}






/* Data stories items */
.data-stories-items {
clear: both;
margin-top: 0em;
margin-bottom: .325em;	
	.data-stories-item {
		@include media(medium-up) {
		@include span-columns(3);
		}
		h3 {
		margin-top: .8em;
    	margin-bottom: 1em;
			@include media(small-up) {

			}
			@include media(medium-up) {

			}
			@include media(large-up) {

			}
			@include media(xlarge-up) {

			}     		
		}	
	}
}	