#page--service {

	.page-content-dynamic {

		.page-introduction {}

		.service-graph {
			.service-indicators {
				.container--left + .container--right {
				/*border-left: 1px solid $light-grey;*/
				}
				.container--left {
					@include media(medium-up) {
					@include span-columns(6);
					}
				}
				.indicator-item + .indicator-item {
				margin-top: 2em;	
				}			
			}			
		}

	}

	.service-graph-content {
	height: 600px;
	@include bg-image(cover);	
	}

	&.cloudservices {
		.service-graph-content {
		background: url("../graphics/content/service_page_Cloud.png");
		}	
	}
	&.emailservice {
		.service-graph-content {
		background: url("../graphics/content/service_page_Email.png");
		}	
	}
	&.fixedbroadband {
		.service-graph-content {
		background: url("../graphics/content/service_page_Fixed_Broad_band.png");
		}	
	}
	&.messagingvoip {
		.service-graph-content {
		background: url("../graphics/content/service_page_Message_and_VOIP.png");
		}	
	}
	&.mobileeco {
		.service-graph-content {
		background: url("../graphics/content/service_page_mobile_Eco.png");
		}	
	}
	&.prepostpaidmobile {
		.service-graph-content {
		background: url("../graphics/content/service_page_Pre_and_post_paid.png");
		}	
	}
	&.searchservice {
		.service-graph-content {
		background: url("../graphics/content/service_page_Search.png");
		}	
	}
	&.socialnetworkblog {
		.service-graph-content {
		background: url("../graphics/content/service_page_Social_Network.png");
		}	
	}
	&.videophoto {
		.service-graph-content {
		background: url("../graphics/content/service_page_Video_and_Photo.png");
		}	
	}					

}