#page--service {

	.page-content-dynamic {

		.page-introduction {}

		.service-graph {
			.service-indicators {
				.container--left + .container--right {
				/*border-left: 1px solid $light-grey;*/
				}
				.container--left {
					@include media(medium-up) {
					@include span-columns(6);
					}
				}
				.indicator-item + .indicator-item {
				margin-top: 2em;	
				}			
			}			
		}

	}

	&.cloudservices {
		.service-graph-content {
		background: url("../graphics/content/service_page_Cloud.png");
		height: 500px;
		@include bg-image(cover);	
		/*@include bg-image(contain);*/
		}	
	}

}