#page--category {
	&.commitment {
		.page--title {
		color: $cat-commitment !important;	
		}	
	}
	&.freedom-of-expression {
		.page--title {
		color: $cat-freedom !important;
		}	
	}
	&.privacy {
		.page--title {
		color: $cat-privacy !important;	
		}	
	}

	.page-content-dynamic {

		.page-introduction {

		}

		.category-graph {}

		.category-indicators {
			.container--left + .container--right {
			/*border-left: 1px solid $light-grey;*/
			}
			.container--left {
				@include media(medium-up) {
				@include span-columns(6);
				}
			}
			.indicator-item + .indicator-item {
			margin-top: 2em;	
			}			
		}

	}

}