#page--indicators {

	.introduction {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid $black;		
        .indicator-item {
	        label {
	        font-family: $simplon-light;  
	        text-transform: uppercase;
	        color: $black;
	        font-size: 12px;
	        line-height: 1.3; 
	        letter-spacing: 1px;
	        margin-bottom: 0px;
	          @include media(small-up) {
	          font-size: 12px;  
	          }
	          @include media(medium-up) {
	          font-size: 13px;  
	          }
	          @include media(large-up) {
	          font-size: 14px;
	          }
	          @include media(xlarge-up) {
	          font-size: 14px;  
	          }   
	        }        	
        }
        .indicator-item + .indicator-item {
        margin-left: 4em;	
        }
	}
	.indicators-wrapper {
		.bar--container {
		margin-top: 1em;
	        label {
	        font-family: $simplon-light;  
	        text-transform: uppercase;
	        color: $black;
	        font-size: 12px;
	        line-height: 1.3; 
	        letter-spacing: 1px;
	        margin-bottom: 0px;
	          @include media(small-up) {
	          font-size: 12px;  
	          }
	          @include media(medium-up) {
	          font-size: 13px;  
	          }
	          @include media(large-up) {
	          font-size: 14px;
	          }
	          @include media(xlarge-up) {
	          font-size: 14px;  
	          }   
	        }			
		}

		.container--left {
	    @include media(medium-up) {
	      @include span-columns(6);
	    }
	  }
	  .container--right {
	    margin-right: 0;
	    @include media(medium-up) {
	      @include span-columns(6);
	    }
	  }

	}

}



/*.indicator--sub_text {
  line-height: 1.8em;
}*/

.indicator--choices,
.indicator--sub_choices {
  margin-top: 1em;
  list-style: initial;

  li {
    margin-left: 1em;
    @include media(large-up) {
      margin-left: 2em;
    }
  }
}
