<div class="banner">
  <div class="row contain">

    <div class="banner--internal">
      <a href="https://rankingdigitalrights.org">
        <img class="logo" src="{{ site.baseurl }}/assets/graphics/layout/rdr_logo.svg"></img>
      </a>
      <a href="https://rankingdigitalrights.org">
        <img class="rdr" src="{{ site.baseurl }}/assets/graphics/layout/rdr_hed.svg"></img>
      </a>

      <button class="bttn--hamburger">
        <span>Open Menu</span>
      </button>
    </div>

    <div class="medium-up" style="margin-top: -2px;">
      <ul class="nav">
        <li class="nav--item"><a href="https://rankingdigitalrights.org/category/blog/">Blog</a></li>
        <li class="nav--item nav--item_active"><a href="{{ site.baseurl }}">Corporate Accountability Index</a></li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-about"><a href="#">About</a>
          <ul class="dropdown" id="dropdown-about">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/about/">Project Overview</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/events/">Upcoming Events</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/project-documents/timeline/">Timeline</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/methodology-development/">Methodology Development</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/resources/">Background Reading</a></li>
          </ul>
        </li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-who"><a href="#">Who We Are</a>
          <ul class="dropdown" id="dropdown-who">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/">Our Team</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/affiliates/">Affiliates</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/partners/">Funders and Partners</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/advisory-council/">Advisory Council</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/contact/">Contact<a></li>
          </ul>
        </li>
        <li class="nav--item"><a href="https://rankingdigitalrights.org/who/frequently-asked-questions/">FAQ</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="nav--mobile">
  <div class="nav--vertical">
    <div class="nav--item_vertical"><a href="https://rankingdigitalrights.org/category/blog/">Blog</a></div>
    <div class="nav--item_vertical nav--item_active"><a href="{{ site.baseurl }}">Corporate Accountability Index</a></div>
    <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-about-mobile">
      <a href="#">About</a>
      <span class="collecticon collecticon-sm-triangle-down"></span>
      <span class="collecticon collecticon-sm-triangle-up"></span>
    </div>

    <ul class="dropdown dropdown--mobile" id="dropdown-about-mobile">
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/about/">Project Overview</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/events/">Upcoming Events</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/project-documents/timeline/">Timeline</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/methodology-development/">Methodology Development</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/resources/">Background Reading</a></li>
    </ul>

    <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-who-mobile">
      <a href="#">Who we are</a>
      <span class="collecticon collecticon-sm-triangle-down"></span>
      <span class="collecticon collecticon-sm-triangle-up"></span>
    </div>

    <ul class="dropdown dropdown--mobile" id="dropdown-who-mobile">
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/">Our Team</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/affiliates/">Affiliates</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/partners/">Funders and Partners</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/advisory-council/">Advisory Council</a></li>
      <li class="dropdown--item"><a href="https://rankingdigitalrights.org/contact/">Contact<a></li>
    </ul>

    <div class="nav--item_vertical"><a href="https://rankingdigitalrights.org/who/frequently-asked-questions/">FAQ</a></div>

    <div class="nav--item_vertical"><a href="/index">Index</a></div>
    <div class="nav--item_vertical"><a href="/companies">Companies</a></div>
    <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-services-mobile">
      <a href="#">Services</a>
      <span class="collecticon collecticon-sm-triangle-down"></span>
      <span class="collecticon collecticon-sm-triangle-up"></span>
    </div>
    <ul class="dropdown dropdown--mobile" id="dropdown-services-mobile">
      <li class="dropdown--item"><a href="/">Social network and blog</a></li>
      <li class="dropdown--item"><a href="/">Messaging & voip</a></li>
      <li class="dropdown--item"><a href="/">Video/Photo</a></li>
      <li class="dropdown--item"><a href="/">Email service</a></li>
      <li class="dropdown--item"><a href="/">Search</a></li>
      <li class="dropdown--item"><a href="/">Cloud</a></li>
      <li class="dropdown--item"><a href="/">Mobile ecosystems</a></li>
      <li class="dropdown--item"><a href="/">Fixed broadband</a></li>
      <li class="dropdown--item"><a href="/">Mobile</a></li>
    </ul>

    <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-categories-mobile">
      <a href="#">Categories</a>
      <span class="collecticon collecticon-sm-triangle-down"></span>
      <span class="collecticon collecticon-sm-triangle-up"></span>
    </div>
    <ul class="dropdown dropdown--mobile" id="dropdown-categories-mobile">
      <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/commitment">Governance</a></li>
      <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/freedom-of-expression">Freedom Of Expression</a></li>
      <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/privacy">Privacy</a></li>
    </ul>
    <div class="nav--item_vertical"><a href="/indicators">Indicators</a></div>
    <div class="nav--item_vertical"><a href="/stories">Stories</a></div>
    <div class="nav--item_vertical"><a href="/download">Download</a></div>

  </div>
</div>


<div class="secondary-navigation">
  <div class="row contain">
    <div class="medium-up">
      <ul class="nav">
        <li class="nav--item"><a href="/">Index</a></li>
        <li class="nav--item"><a href="/companies">Companies</a></li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-services"><a href="#">Services</a>
          <ul class="dropdown" id="dropdown-services">
            <li class="dropdown--item"><a href="/">Social network and blog</a></li>
            <li class="dropdown--item"><a href="/">Messaging & voip</a></li>
            <li class="dropdown--item"><a href="/">Video/Photo</a></li>
            <li class="dropdown--item"><a href="/">Email service</a></li>
            <li class="dropdown--item"><a href="/">Search</a></li>
            <li class="dropdown--item"><a href="/">Cloud</a></li>
            <li class="dropdown--item"><a href="/">Mobile ecosystems</a></li>
            <li class="dropdown--item"><a href="/">Fixed broadband</a></li>
            <li class="dropdown--item"><a href="/">Mobile</a></li>
          </ul>
        </li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-categories"><a href="#">Categories</a>
          <ul class="dropdown" id="dropdown-categories">
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/commitment">Governance</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/freedom-of-expression">Freedom Of Expression</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/privacy">Privacy</a></li>
          </ul>
        </li>
        <li class="nav--item"><a href="/indicators">Indicators</a></li>
        <li class="nav--item"><a href="/stories">Stories</a></li>
        <li class="nav--item"><a href="/download">Download</a></li>
      </ul>
    </div>
  </div>
</div> <!-- .secondary-banner -->